::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

.form{
    padding-top: 70px;
    height: fit-content;
    padding-bottom: 10vh;
    background-color: blanchedalmond;
}