.team{
  width: 95%;
  text-align:center; 
  margin: 10vh 0 10vh 2.5%; 
  color: #006379;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.contact-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-self: center;
  justify-content: center;
}





