footer{
    color: white;
    text-align: center;
    padding: 10vh 0;
    overflow: hidden;
    background-color: black;

    a{
        color: white;
    }

    .navLinks{
        width: 80%;
        margin: 40px auto 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.1fr;
    }

}

