.container{
    background-color: blanchedalmond;
    padding-top: 10px;
    overflow: hidden;

    img{
        border-radius: 5px;
        width: 100%;
    }
}

.news-heading{
    text-align: center;
}

.news-tab{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding: 50px 5vw;
    overflow: scroll;
}

.card-n,.expanded{
    background-color: var(--secondary);
    box-shadow: var(--shadow-nav);
    text-align: center;
    line-height: 3rem;
    transition: width 0.5s;
}

.card-n{
    transition: width 1s;
    width: 27%;
    border-radius: 5px;

    p{
        line-height: 1em;
        word-wrap: break-word;
        margin: 15px;
    }
}

.expanded{
    width: 100%;
    display: flex;
    flex-direction: row;
    order: -1;

    justify-content: space-between;

    img{
        max-width: 360px;
    }

    .read-more{
        margin-right: 20px;
    }
}

.read-more{
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .news-tab{
        flex-wrap: wrap;
    }
    .card-n{
        width: auto;
        transition: all 1s;
    }

    .expanded{
        order: 0;
        transition: all 1s;
        height: 1000px;
        display: flex;
        flex-direction: column;

    
        img{
            max-width: 100%;
        }
    }
}


