.container{
    background-color: blanchedalmond;
    padding-top: 10px;
    overflow: hidden;
}

.news-heading{
    text-align: center;
}

.news-tab{
    display: grid;
    grid-gap: 10vw;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    padding: 50px 5vw;
    overflow: hidden;
}

.container .news-tab .card-n{
    background-color: var(--secondary);
    box-shadow: var(--shadow-nav);
    text-align: center;
    justify-content: center;
    line-height: 3rem;
}

.card-n{
    border-radius: 5px;
}

img{
    border-radius: 5px;
    max-width: 100%;
}