:root {
  --primary: #000000;
  --secondary: #fff8dc;

  --nav1: #5f0201;
  --navBlue: #006379;
  --navPurple: ;

  --bgMaroon: #5f0201;
  --bgBlue: #006379;

  --shadow-btn: 0 1px 5px rgba(0, 0, 0, 0.8);
  --shadow-nav: 0 4px 10px rgba(0, 0, 0, 0.4);
   }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

html{
  height: 100%;
  box-sizing: border-box;
}

body{
  line-height: 1.5; /*line spacing*/
  font-family: Calibri;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'samarkannormal';
  src: url('./assets//font/samarkannormal-rxge-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}